* {
  box-sizing: border-box;
}

.AppLayout {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.AppLayout > .MuiContainer-root {
  display: flex;
  flex: 1;
}

.fullWidth {
  width: 100%;
}
